# =================================================================
# Configuración de Servidor SMTP para Notificaciones (Gmail)
# =================================================================
# Para usar Gmail:
# 1. Ve a tu cuenta de Google -> Seguridad -> Verificación en 2 pasos (debe estar activada).
# 2. Genera una "Contraseña de aplicación" (App Password) en: https://myaccount.google.com/apppasswords
# 3. Coloca tu correo Gmail en SMTP_USER y la contraseña generada (16 letras) en SMTP_PASS.

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=xxxx xxxx xxxx xxxx
SMTP_FROM="CertiWebs <no-reply@certiwebs.com>"
CONTACT_RECIPIENT=octaarami@gmail.com
NEWSLETTER_RECIPIENT=octaarami@gmail.com

# Configuración del Sistema
JWT_SECRET=super_secret_key_certiwebs_2026
ADMIN_KEY=admin1234
PORT=3000

